<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalMerge"
        tools:targetApi="31" >
        <activity
            android:name=".LoginPage.AdminRegister.AdminRegister"
            android:exported="false" />
        <activity
            android:name=".LoginPage.Login.LoginView"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPage.StudentRegister.StudentRegisterView"
            android:exported="false" />
        <activity
            android:name=".homePage.homePage"
            android:exported="true" />
        <activity
            android:name=".homePage.ComplaintUI.ComplaintUI"
            android:exported="false" />
        <activity
            android:name=".homePage.EventUI.EventUI"
            android:exported="false" />
        <activity
            android:name=".homePage.AnnouncementUI.AnnouncementUI"
            android:exported="false" />
        <activity
            android:name=".AnnouncementPage.PostAnnouncement"
            android:exported="true" />
        <activity android:name=".AnnouncementPage.AnnouncementPage"
            android:exported="true">
        </activity>
        <activity
            android:name=".RSVP.EventDetail"
            android:exported="true" />
        <activity
            android:name=".EventPage.EventPage"
            android:exported="true" >
        </activity>
        <activity
            android:name=".ComplaintsPage.ComplaintPage"
            android:exported="true" />
        <activity
            android:name=".EventPage.PostEvent"
            android:exported="true"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".ComplaintsPage.PostComplaint"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
        </activity>
    </application>

</manifest>